---
import { type CharactersResult } from "./types";
import Layout from "../../layouts/Layout.astro";

export const prerender = false;

const characters: CharactersResult = await fetch(
  "https://rickandmortyapi.com/api/character?page=1"
)
  .then((res) => res.json())
  .then((data) => data);

console.log(characters.info);
---

<Layout title="Characters - Rick and Morty">
  <main>
    <h1>Characters</h1>
    <p>There are {characters.info.count} characters</p>
    {
      characters.results.map((character) => (
        <div>
          <h2>{character.name}</h2>
          <img src={character.image} alt={character.name} />
        </div>
      ))
    }
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
  }
</style>
